body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 500px;
    margin: 50px auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

h1 {
    text-align: center;
}

.input-container {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #666;
    border-radius: 3px;
    background-color: #444;
    color: #fff;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#companyName {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
}

#notSatisfiedBtn {
    background-color: #666;
    display: none;
}

#notSatisfiedBtn:hover {
    background-color: #333;
}
